# Ignore target directory (Maven output)
target/

# Ignore compiled class files
*.class

# Ignore JAR files
*.jar

.idea/
# Ignore Maven-specific files
**/maven-status/
**/maven-archiver/
**/maven-site/
